<ul class="breadcrumbs">

  <li> <labelclass="current" >Найкращі за</label> <a class="current" href="#">День</a></li>
  <li><a href="#">Тиждень</a></li>
  <li><a href="#">Місяць</a></li>
  <li><%= link_to 'Створити запис', new_post_path %></li>
</ul>




<div class="row">
  <div class="large-1 columns"></div>
  <div class="large-10 columns">

    <% @posts.each do |post| %>

        <h3><%= link_to post.title, post_path(post) %> </h3>
        <%= post.text_html %>
        <%= link_to 'Редагувати', edit_post_path(post) %>
        <%= link_to 'Видалити', post_path(post), method: :delete %>
    <% end %>

  </div>
  <div class="large-1 columns"></div>
</div>





