<h1>Listing posts</h1>

<%= link_to 'Створити запис', new_post_path %>
<table>
  <tr>
    <th>Заголовок</th>
    <th>Text</th>
  </tr>

  <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post_path(post) %></td>
        <td><%= post.text_html %></td>
        <td><%= link_to 'Редагувати', edit_post_path(post) %></td>
        <td><%= link_to 'Видалити', post_path(post), method: :delete %></td>
      </tr>
  <% end %>
</table>