
<ul class="breadcrumbs">
  <li><%= link_to t(:new_post), new_post_path %></li>
</ul>

<% @posts.each do |post| %>

    <div class="panel radius">
      <div class="row">

        <div class="large-9 columns">
          <h3><a style="text-decoration: underline;" href="<%= post_path(post) %>"><%= post.title %></a></h3></div>
        <div class="large-3 columns" style="text-align: right;">
          <small><%= post.created_at.to_formatted_s(:db) %></small>
        </div>
      </div>
      <br>
      <%= post.text_html %>

      <small> <%= link_to t(:edit), edit_post_path(post) %></small>
      <small><%= link_to t(:delete), post_path(post), method: :delete %></small>
    </div>

<% end %>






