<ul class="breadcrumbs">
  <li><%= link_to t(:back), posts_path %></li>
</ul>

<%= form_for :post, url: posts_path  do |f| %>

    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited
            this article from being saved:</h2>
          <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset>
      <legend><%= t :new_post %></legend>
      <label><%= t :title %>
        <input type="text" name="post[title]" value="<%= @post.title %>" placeholder="<%= t :post_title_placeholder %>"/>
      </label>
      <label><%= t :text %><textarea type="text" name="post[text]" placeholder="<%= t :post_text_placeholder %>"><%= @post.text %></textarea>
      </label>
    </fieldset>


    <p>
      <%= f.submit %>
    </p>
<% end %>
